<mat-card [id]="dish.id" [ngClass]="['card', class]" appHoverAffect="border">
    <mat-card-header [matTooltip]="dish.title" [matTooltipPosition]="'above'">
        <div class="card-img">
            <div *ngIf="dish.image; else defaultImage">
                <img mat-card-image  [src]="dish.image" alt={{dish.title}} (click)="handleClick(dish)">
            </div>
            <ng-template #defaultImage>
                <img mat-card-image [src]="defaultDish" alt={{dish.title}} (click)="handleClick(dish)">
            </ng-template>
        </div>
    </mat-card-header>
    <mat-card-content class="card-body">
        <h2><a routerLink="/contents/{{dish.id}}">{{dish.title}}</a></h2>
        <p><strong>Creator:</strong> {{dish.creator}}</p>
    </mat-card-content>
    <mat-card-footer>
        <p *ngIf="dish.type" appHoverAffect="underline"><strong>Type:</strong> {{dish.type}}</p>
        <p *ngIf="dish.tags"><strong>Tags:</strong> 
            <span *ngFor="let tag of dish.tags" appHoverAffect="bold"> #{{tag}}, </span>
        </p>
    </mat-card-footer>
</mat-card>